body{
    padding: 2rem;
}

#lista-de-tarefas{
    /* mobilefirts*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) r;
    gap: 1.5rem;

    /* nesting css*/
    /* @media (min-width: 500px){
            grid-template-columns: 1fr 1fr;
        }
       
    @media (min-width: 768px){
            grid-template-columns: 1fr 1fr 1fr;
        
    } */
}

form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
    gap: 2rem;
}

.acoes{
    display: flex;
    justify-content: space-around;
}